/* src/blocks/register.css */

/* -------------  1280  ------------- */
/* container */
.register {
  max-width: 358px;
  width: 100%;
  margin: 60px auto 80px;
  color: #fff;
}

/* title */
.register h2 {
  max-width: 358px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}

/* form */
.register__form {
  display: flex;
  flex-direction: column;
}

/* input */
.register__input {
  max-width: 358px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 8px 0;
  margin-bottom: 30px;
}

/* submit button */
.register__button {
  width: 358px;
  height: 50px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 2px;
  /* margin-top: 216px; */
  margin-top: 171px;
}

/* register text */
.register__text {
  margin-top: 15px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

/* link text */
.register__link {
  color: #ffffff;
  text-decoration: none;
}

.register__link:hover {
  opacity: 0.6;
}

/* -------------  320  ------------- */
@media screen and (max-width: 320px) {
  /* container */
  .register {
    max-width: 260px;
    margin: 40px auto 60px;
  }

  /* title */
  .register h2 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* input */
  .register__input {
    max-width: 260px;
    font-size: 14px;
    margin-bottom: 30px;
  }

  /* submit button */
  .register__button {
    width: 260px;
    height: 46px;
    font-size: 16px;
    margin-top: 140px;
  }

  /* register text */
  .register__text {
    font-size: 12px;
    line-height: 15px;
  }
}
