/* src/blocks/root.css */

/* -------------  1280  ------------- */
/* root */
* {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

/* body, html */
html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}
